.container {
  height: 100vh;
  overflow-x: hidden;
  background: #ff4b3a;
}
.titleContainer {
  width: 100%;
  padding: 3.3em 3.1em;
}
.title {
  font-family: "Nunito", sans-serif;
  font-weight: 1000;
  color: white;
  font-size: 3rem;
  line-height: 86.836%;
}
.boyVectorContainer {
  position: absolute;
  width: 225px;
  height: 298px;
  position: absolute;
  right: -2em;
  bottom: 4em;
}
.boyVectorContainer::after {
  content: "";
  background: linear-gradient(
  169deg,
  rgba(255, 71, 11, 0.51) -194.92%,
  #ff470b 92.09%
);
  filter: blur(25px);
  width: 272.467px;
  height: 170.958px;
  transform: rotate(-1.996deg);
  display: block;
  position: absolute;
  bottom: -50px;
  right: -20px;
}
.girlVector,
.boyVector {
  position: absolute;
  object-fit: cover;
}
.girlVectorContainer {
  position: absolute;
  width: 358px;
  height: 434px;
  left: -6em;
  bottom: 1em;
  transform: scale(0.8);
}
.girlVectorContainer::after{
  content: "";
  background: linear-gradient(
  169deg,
  rgba(255, 71, 11, 0.51) -194.92%,
  #ff470b 92.09%
);
  filter: blur(25px);
  width: 272.467px;
  height: 170.958px;
  transform: rotate(-1.996deg);
  display: block;
  position: absolute;
  bottom: -50px;
  left: 0;
}
.startBtn {
  position: absolute;
  bottom: 1.9em;
  border-radius: 30px;
  background: #fff;
  width: 19.6rem;
  height: 4.3rem;
  flex-shrink: 0;
  border: none;
  color: #ff460a;
  left: 50%;
  transform: translate(-50%);
  color: #FF460A;
  font-family: "Nunito", sans-serif;

font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
